# CoNet vs. 1.1.1.beta compiled for Cytoscape 3.X parameter values
# Time of export: Mon Aug 12 08:30:23 PDT 2019
randroutine==edgeScores
randscorefile==/home/ryan/Desktop/test_conet/Blob/Blob_conetBootstrap.txt
matrixtype==abundance
stand==col_norm
thresholdguessing==edgeNumber
guessingparam==1000.0
resamplemethod==bootstrap
ensemblemethods==correl_pearson/correl_spearman/sim_mutInfo/dist_bray/dist_kullbackleibler/distrib_hypergeometric
max==3
verbosity==FATAL
minetdisc==equalfreq
minetmiestimator==mi.shrink
kernelwidth==0.25
pseudocount==1.0E-8
lineage_separator==--
edgethreshold==0.05
nantreatment==none
nantreatmentparam==1
networkmergestrategy==union
mi_implementation==jsl
iterations==100
inputformat==biomtable
delimiter==tab
features==/home/ryan/Desktop/test_conet/Blob/Sample_metadata_Blob_YN.txt
rserve_host==127.0.0.1
rserve_port==6311
correlnonrandp==none
multicorr==benjaminihochberg
inference==mrnet
min==1
measure2==supp
measure1==conf
scoremergestrategy==mean
minsupport==2
pvaluemerge==brown
multigraph==true
higherleveltaxa==true
scoreexport==true
transposefeatures==true
matchfeaturesamples==true
topbottom==true
no_rserve==true
keepfilteredrows==true
input==/home/ryan/Desktop/test_conet/Blob/otu_table_SILVA132_tax_noCM_fixed_taxonomy.txt
output==/home/ryan/Desktop/test_conet/Blob/Blob_conet_analysis.tsv
method==ensemble
ensembleparams==correctionfactorbrown~correctionfactorbrown=NaN/correl_pearson~upperThreshold=0.9542364131518538/correl_pearson~lowerThreshold=-0.725813227168255/correl_spearman~upperThreshold=0.9422566600393608/correl_spearman~lowerThreshold=-0.8707602247024038/degreesoffreedombrown~degreesoffreedombrown=NaN/dist_bray~upperThreshold=1.0/dist_bray~lowerThreshold=0.14081901967737576/dist_kullbackleibler~upperThreshold=21.80253403574315/dist_kullbackleibler~lowerThreshold=0.18266618140618576/sim_mutInfo~lowerThreshold=0.755948055121135
filter==row_minocc/noinclusivetaxalinks/confidence_boot/rand
filterparameter==20.0